/*----------------------------------------*/
/*  Job postings CSS */
/*----------------------------------------*/

.card {
  background-color: $white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 30px #c8c8df !important;
  }

  .logo {
    margin-top: 12px;
    width: 40px;
    border-radius: 5px;
  }

  .job-title {
    color: $primary-font-color;
    font-size: 16px;
    margin-bottom: 0;
  }
  .company-name {
    color: $danger-font-color;
    font-size: 14px;
  }
  .category {
    color: $secondary-font-color;
    font-size: 14px;
  }
  .created-date {
    color: $secondary-font-color;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .job-type {
    color: $secondary-font-color;
    font-size: 14px;
  }
  .location {
    color: $secondary-font-color;
    font-size: 14px;
  }
}
